<!doctype html>
<html lang="en">
  <head>
    <link rel="preload" href="css" as="style" />
    <link rel="stylesheet" href="css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <title>cythe</title>
  </head>
  <body>
    <div class="container">
      <h1>cythe</h1>
      <h2>Runners</h2>
      <ul
        class="home-list"
        hx-trigger="load"
        hx-get="http://127.0.0.1:6143/api/runners"
        hx-target="this"
        hx-swap="innerHTML"
      ></ul>
      <h2>Repos</h2>
      <ul
        class="home-list"
        hx-trigger="load"
        hx-get="http://127.0.0.1:6143/api/repos"
        hx-target="this"
        hx-swap="innerHTML"
      ></ul>
    </div>
  </body>
</html>
