<!doctype html>
<html lang="en">
  <head>
    <link rel="preload" href="css" as="style" />
    <link rel="stylesheet" href="css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="js/htmx.js"></script>
    <script src="/js/htmx-sse.js"></script>
    <title>cythe</title>
  </head>
  <body>
    <div class="container">
      <h1>cythe</h1>
      <h2>Runners</h2>
      <ul class="home-list">
        <li
          hx-trigger="load"
          hx-get="/api/max-runners"
          hx-target="this"
          hx-swap="outerHTML"
        ></li>
        <li
          hx-ext="sse"
          sse-connect="/api/active-runners"
          sse-swap="active-runners"
        >
          Active runners: 0
        </li>
      </ul>
      <h2>Repos</h2>
      <ul
        class="home-list"
        hx-trigger="load"
        hx-get="http://127.0.0.1:6143/api/repos"
        hx-target="this"
        hx-swap="innerHTML"
      ></ul>
    </div>
  </body>
</html>
