<!doctype html>
<html lang="en">
  <head>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="preload" href="/static/styles.css" as="style" />
    <link rel="stylesheet" href="/static/styles.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="js/htmx.js"></script>
    <script src="/js/htmx-sse.js"></script>
    <title>cythe</title>
  </head>
  <body>
    <div class="container">
      <nav class="nav-bar">
        <div class="nav-row">
          <a href="/"
            ><img src="static/cythe.svg" alt="cythe" width="32" height="32"
          /></a>
        </div>
        <hr />
      </nav>
      <h2>Runners</h2>
      <ul class="home-list">
        <li
          hx-ext="sse"
          sse-connect="/api/active-runners"
          sse-swap="active-runners"
        >
          Active runners: 0
        </li>
        <li
          hx-trigger="load"
          hx-get="/api/max-runners"
          hx-target="this"
          hx-swap="outerHTML"
        ></li>
      </ul>
      <h2>Repos</h2>
      <ul
        class="home-list"
        hx-trigger="load"
        hx-get="/api/repos"
        hx-target="this"
        hx-swap="innerHTML"
      ></ul>
    </div>
  </body>
</html>
